<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="main">
  <div class="login">
    <form [formGroup]="userForm">
      
      <div>
        <ion-icon name="person-circle" id="icono-grande"></ion-icon>
      </div>
      <div class="username">
        <ion-icon name="person-circle-outline" class="iconos-log"></ion-icon>
        <input type="text" id="user" placeholder="Usuario" formControlName="username">
      </div>
      <div class="pass">
        <ion-icon name="lock-closed-outline" class="iconos-log"></ion-icon>
       <input type="Password" id="user" placeholder="Password" formControlName="password">
      </div>
      
      <div class="boton">
        <input type="button" value="Acceder" class="btn-grad" (click)="userLog()">
      </div>

      <div class="boton">
        <a  (click)="mensajeOlvide()">¿Olvidaste tu cotraseña?</a>
      </div>
      
    </form>
  </div>
 
</ion-content>
